# データベース接続URL
# 開発環境（SQLite）
DATABASE_URL="file:./dev.db"

# 本番環境（PostgreSQL）
# DATABASE_URL="postgresql://username:password@host:port/database"

# Next.js設定
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000" 